*{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  }

.Element-heading {
  font-family: 'Felix Titling';
  font-size: 400%;
}

.landing {
  text-align: center;
  padding-bottom: 230pt;
  margin-top: 200px;
}

.learnmore {  
  cursor: pointer;
  border: 2px solid rgb(110, 109, 109);
  border-radius: 8px;
  text-decoration: none;
  color: rgb(110, 109, 109); 
  font-size: 20pt;
}

#Mission {
  background-color: rgb(187, 184, 184);
  padding-bottom: 150pt;
  margin-left: 0px;
  margin-right: 0px;
}

.MissionH {
  text-align: center;
  font-size: 30pt;
  padding-top: 50pt;
}

.MissionP {
  margin-top: 50pt;
  padding-left: 100pt;
  padding-right: 100pt;
  font-size: 20pt;
}

.quote {
  padding-top: 200pt;
  padding-bottom: 200pt;
  padding-left: 100pt;
  padding-right: 100pt;
  font-size: 40pt;
}

@media (min-width: 441px) and (max-width: 540px) {
  .quote {
    font-size: 25pt;
  }
}

@media (max-width: 440px) {
  .quote {
    font-size: 20pt;
    padding-left: 50pt;
    padding-right: 50pt;
  }
}

.name {
  padding-top: 30pt;
  font-size: 25pt;
}

.links {
  background-color: rgb(187, 184, 184);
  padding-top: 20pt;
  padding-bottom: 300pt;
}

.ElementP {
  text-align: center;
  font-size: 50pt;
}

@media (max-width: 490px) {
  .ElementP {
    font-size: 40pt;
  }
}

@media (max-width: 400px) {
  .ElementP {
    font-size: 30pt;
  }
}
  
.film {
  float: left;
  border: 2px solid rgb(110, 109, 109);
  border-radius: 8px;
  text-decoration: blue;
}

.periodic {
  float: right;
  border: 2px solid rgb(110, 109, 109);
  border-radius: 8px;
  text-decoration: blue;
}

.btns {
  padding-left: 200pt;
  padding-right: 200pt;
  font-size: 35pt;
  margin: 50pt 20pt;
  cursor: pointer;
}

@media (min-width: 585px) and (max-width: 878px) {
  .btns {
    padding-left: 100pt;
    padding-right: 100pt;
  }
}

@media (min-width: 425px) and (max-width: 584px) {
  .btns {
    padding-left: 10pt;
    padding-right: 10pt;
  }
}

@media (max-width: 424px) {
  .btns {
    padding-left: 20pt;
    padding-right: 20pt;
  }
}

@media (max-width: 370px) {
  .btns {
    padding-left: 0pt;
    padding-right: 0pt;
  }
}