*{
  margin: 0;
  padding: 0;
}

.Element-heading {
  font-family: 'Felix Titling';
  font-size: 55pt;
}

@media (max-width: 500px) {
  .Element-heading {
    font-size: 30pt;
    color: blue;
  }
} 

.landing {
  text-align: center;
  padding-bottom: 155pt;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

@media (max-width: 500px) {
  .landing {
    text-align: center;
    padding-bottom: 155pt;
    margin-top: 200px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 8px;
  }
} 


.learnmore {  
  cursor: pointer;
  border: 2px solid rgb(110, 109, 109);
  border-radius: 8px;
  text-decoration: none;
  color: rgb(110, 109, 109); 
  font-size: 20pt;
}

.Mission {
  background-color: rgb(187, 184, 184);
  padding-bottom: 340pt;
  padding-right: 200px;
  padding-left: 200px;
}

@media (max-width: 500px) {
  .Mission {
    padding-bottom: 340pt;
    padding-right: 100px;
    padding-left: 100px;
  }
} 

.MissionH {
  text-align: center;
  padding-top: 50pt;
}

.MissionP {
  margin-top: 50pt;
  flex-wrap: wrap;
  font-size: 20pt;
}

.quote {
  padding-top: 200pt;
  padding-bottom: 200pt;
  padding-right: 200px;
  padding-left: 200px;
  font-size: 40pt;
}

.name {
  padding-left: 500pt;
  padding-top: 30pt;
  font-size: 25pt;
}

.links {
  background-color: rgb(187, 184, 184);
  padding-top: 20pt;
  padding-bottom: 350pt;
  padding-right: 200px;
  padding-left: 200px;
}

.ElementP {
  text-align: center;
  font-size: 50pt;
}
  
.film {
  float: left;
  font-size: 35pt;
  text-decoration: blue;
  margin: 50pt 20pt;
  cursor: pointer;
  border: 2px solid rgb(110, 109, 109);
  border-radius: 8px;
}

.periodic {
  float: right;
  font-size: 35pt;
  text-decoration: blue;
  margin: 50pt 20pt;
  cursor: pointer;
  border: 2px solid rgb(110, 109, 109);
  border-radius: 8px;
}

